html, body {
    height: 100%;
    color: #222;
    font-family: arial,sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 170px 632px auto;
    grid-template-rows: repeat(auto, 10);
}

.logo-container {
    margin: 30px 0 0 20px;
    grid-area: 1 / 1 / 2 / 2;
}

.logo {
    height: 30px;
    width: 92px;
}

.input-bar {
    margin: 20px 0 0 -20px;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    width: 630px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
}

.input-bar:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-input {
    flex: 100%;
    background-color: transparent;
    width: auto;
    border: none;
    margin: 0;
    padding: 0 20px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}

.input-img {
    line-height: 44px;
    margin-left: 15px;
}

.input-img img {
    width: 24px;
    vertical-align: middle;
}

.input-img:nth-child(2) img {
    width: 20px;
}

.input-img svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 15px;
    fill: #4285f4;
}

.user-bar {
    margin: 20px 20px 0 0;
    justify-self: end;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    height: 44px;
}

.user-img {
    border-radius: 100%;
    position: relative;
    height:44px;
    width:44px;
    line-height: 44px;
    margin-left: 10px;
}

.user-img:hover {
    background: #f0f0f0;
}

.user-img img {
    position: absolute;
    border-radius: 100%;
    width: 36px;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
}

.user-img svg {
    position: absolute;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

nav {
    height: 40px;
    display: flex;
    grid-area: 2 / 1 / 3 / 4;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3px;
}

.navigation-item {
    line-height: 40px;
    height: 40px;
    color: #5f6368;
    text-decoration: none;
    padding: 0 12px 0 12px;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.navigation-item:nth-child(1) {
    margin-left: 160px;
}

.navigation-item:nth-child(6) {
    margin-left: 100px;
}

.navigation-item:focus {
    outline: none;
    border-bottom: 3px solid #4285f4;
    color: #1b73e8;
}

.navigation-item:hover {
    color: #1b73e8;
}

.navigation-item:hover svg {
    fill: #1b73e8;
}

.navigation-item span {
    vertical-align: middle;
}

.navigation-item img {
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.navigation-item svg {
    vertical-align: middle;
    height: 16px;
    width: 16px;
    fill: #5f6368;
}

.response-time {
    grid-area: 3 / 2 / 4 / 3;
    line-height: 50px;
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.result-container {
    display: flex;
    flex-direction: column;
}

.result-container:nth-child(6) {
    grid-area: 4 / 2 / 5 / 3;
}

.result {
    margin-top: 20px;
}

.result:nth-child(1) {
    margin-top: 0;
}

.result-link {
    text-decoration: none;
}

.result-link-name {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}

.result-link-name:hover {
    text-decoration: underline;
}

cite {
    color: #006621;
    font-style: normal;
    line-height: 1.5;
}

.fa-caret-down {
    color: #006621;
    line-height: 1.5;
    vertical-align: middle;
}

.translation-link {
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
}

.result-summary-text {
    color: #545454;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    word-wrap: break-word;
    text-align: left;
}

.question-container {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    flex-direction: column;
    margin: 28px 0 0 -20px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
}

.question-title {
    line-height: 1.3;
    color: #222;
    font-size: 20px;
    padding: 9px 16px;
}

.question {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 16px;
    line-height: 1.57;
}

.fa-angle-down {
    color: #70757a;
    float: right;
    line-height: 1.57;
}

.info {
    grid-area: 6 / 2 / 7 / 3;
    margin: 0 0 25px 0;
}

.info a {
    float: right;
    font-style: italic;
    text-decoration: none;
    color: #70757a;
    font-size: 12px;
    margin: 5px 15px 0 0;
}

.info a:hover {
    text-decoration: underline;
}

.result-container:nth-child(9) {
    grid-area: 7 / 2 / 8 / 3;
}

.page-navigation-container {
    grid-area: 8 / 2 / 9 / 3;
}

table {
    font-size: 14px;
    display: table;
    border-collapse: collapse;
    text-align: left;
    margin: 30px auto 30px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody a {
    text-decoration: none;
}

tbody a:hover {
    text-decoration: underline;
}

td {
    padding: 0;
    text-align: center;
    display: table-cell;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 2px;
}

td span:nth-child(1) {
    height: 40px;
    display: block;
}

footer {
    height: 90px;
    grid-area: 9 / 1 / 10 / 4;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.location-container {
    display: flex;
    margin-left: 170px;
    height: 25px;
    line-height: 25px;
    padding: 10px 0;
}

.location-container a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.location-container a:hover {
    color: #333;
}

.privacy-container {
    margin-left: 170px;
    display: flex;
    height: 25px;
    line-height: 25px;
    padding: 10px 0;
    
}

.privacy-container a {
    text-decoration: none;
    margin-right: 20px;
    color: rgba(0,0,0,.54);
}

.privacy-container a:hover {
    color: #333;
}

.location {
    color: #333;
    font-weight: bold;
}

.location-bar {
    border-left: 1px solid #e4e4e4;
    padding-left: 12px;
    margin-left: 15px;
}

hr {
    margin: 0;
    padding: 0;
    height: 1px;
    border: 0; 
    border-top: 1px solid #e4e4e4;
}

.loc-indicator {
    background: #9e9e9e;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
}

.location-container > span {
    font-size: 15px;
}



